.video__iframe {
  padding: 0;
  margin: 0;
  overflow: visible;
  border-style: none;
  width: 515px;
  height: 316px;
  justify-content: space-between;
}

/* При использовании семантики списка width/height/border-style просто отказываются работать.
Альтернативу, чтобы оставить семантику списка - не нашла 😭 */