.video__iframe {
  padding: 0;
  margin: 0;
  overflow: visible;
  border-style: none;
  width: 515px;
  height: 316px;
  justify-content: space-between;
}

/* Спасибо большое за комментарий! Похожая проблема была с тегом table: не удавалось нормально настроить отступы, а с div и flex всё получилось быстро.  */
/* Может классы неправильно применяла. Постараюсь попробовать семантично разметить, как только с 3 спринтом разделаюсь.*/