.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  z-index: 0;
}

.logo {
  width: 183px;
  height: 32px;
  z-index: 1;
  display: flex;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  background-image: url('../images/logo_place_header.svg');
}

.header__title {
  margin: auto;
  max-width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  display: flex;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 1;
}

.header__main-illustration {
  display: flex;
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  background-color: #2f80ed; 
  width: 568px;
  height: 568px;
  position: absolute;
  display: flex;
  top: 65px;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header__link {
  color:  #2f80ed ;
  text-decoration: none;
  z-index: 1;
}

.header__link:hover {
  color: #000;
  outline: 3px dashed #000;
  text-decoration: underline;
}

/* Description */

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
 }

.description__two-columns {
  padding-top: 100px;
}

.two-columns__brief {
  margin: 0;
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph_last {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* Digits */

.digits {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 100px;
  margin: auto;
}

.section-title {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  max-width: 60%;
}

.section-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  padding-top: 20px;
  max-width: 60%;
}

 .table {
  display: flex; 
  flex-wrap: wrap; 
  width: 1100px;
  margin: auto;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

 .table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

/* Feynman */

.feynman {
  position: relative;
  background-image: url('../images/feynman.png');
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  min-height: 890px;
}

.feynman__title {
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 70px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:  #2f80ed;
  text-decoration: none;
}

.feynman__link:hover {
  color: #000;
  outline: 3px dashed #000;
}


/* Kaufman */

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: -1;
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  max-width: 60%;
  color: #fff;
}

.section-subtitle_theme_dark {
  max-width: 60%;
  color: #fff;
}

.table_theme_dark {
  margin: auto;
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: #fff;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: #fff; 
}

.table__text_theme_dark{
  color: #fff;
}

.kaufman__triangle {
  position: absolute;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: contain;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: -1;
}

/* Footer */

.footer {
  background-color: #1f1f1f;
  color: #fff;
  box-sizing: border-box; 
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
  position: relative;
  margin: auto;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_social {
 display: flex;
 flex-direction: column;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
 }

.footer__column {
  display: flex;
  position: relative;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
  height: 35px;
}

.footer__author {
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  display: flex;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__list-style {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  flex-direction: column;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.footer__column-link {
  display: flex;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  margin: auto;
}

.footer__column-link:hover {
  color: #fff;
  text-decoration: underline;
}

.footer__social-icon {
  align-self: center;
  width: 16px;
  height: 16px;
  line-height: 10px;
  margin-right: 10px; 
}