.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: whitesmoke;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента 
.header__square-pic {
  height: 568px;
  width: 568px; 
} */

/* и элемента с модификатором вида ключ-значение 
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}*/

.logo {
  width: 183px;
  height: 32px;
  z-index: 1;
  }

.logo__place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  
}

.title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.main-illustration {
  width: 765px;
  height: 608px;
  position: absolute; 
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: url(../images/header-image.png);
  background-size: cover;
}

.square-pic {
  background-color: #2180ed;
  width: 568px;
  height: 568px;
  position: absolute;
  display: flex;
  top: 65px;
  right: 0;
  z-index: -1;
}

.two-columns {
  width: 80%;
  position: relative;
  left: 128px;
  display: flex;
  align-items: baseline;
  justify-content: space-between; 
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  /*width: 80%;
  margin: auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;*/
}

.two-columns_main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns_brief {
  color: #2180ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  display: flex;
}

p {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

span {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.digits {
  margin: auto;
 /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
  }

.digits_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  }

.digits_subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-top: 20px;
  }


.digits_table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  }

.table_cell {
  width: 250px;
  padding-top: 60px;
  /* padding-bottom: 60px; */
  vertical-align: top;

  }

.table_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  }

.table_text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.feynman {
  position: relative;
  margin-top: 100px;
  background-image: url(../images/feynman.png);
  background-position: left 0 bottom 0;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-color: whitesmoke;
  height: 890px;
  
}

.feynman_title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 70px;
}

.feynman_subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman_link {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}